<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        [v-cloak]{display: none}
        .red{color:red}
        .green{color:lawngreen}
    </style>
</head>
<body>
<div id="app">
    <input type="text" @keydown.enter="enter | debounce 200" v-model="name">
    <div v-for="l in list" v-cloak track-by="$index">
        <div v-text='l'  v-bind:class=[flag?'red':'green']></div><button  @click="del(l)">删除</button>
    </div>
</div>
<script src="vue.js"></script>
<script>
    var vm=new Vue({
        el:'#app',
        data:{
            name:"请输入内容",
            list:[],
            flag:this.methods.enter.flag
        },
        methods:{
            enter: function () {
                if(this.name){
                    flag = this.list.length%2==1
                    console.log(flag);
                    this.name=this.name;
                    this.list.push(this.name)
                    return flag
                }
                this.name="";
            },
            del: function (l) {
                this.list.$remove(l)
            }
        }
    })
//  vm.$data={
//      name:"请输入内容",
//      list:[],
//      flag:true}


</script>
</body>
</html>